<ng-container *ngIf="isAdmin$ | async">
  <aside
    [@sidebarSlide]="isCollapsed() ? 'collapsed' : 'expanded'"
    class="sidebar-shell"
  >
    <div class="sidebar-head">
      <div class="head-copy" *ngIf="!isCollapsed()">
        <p class="head-kicker">LDS Province</p>
        <h2>PGLDS-AR</h2>
      </div>

      <button (click)="toggleSidebar()" class="toggle-btn" [title]="isCollapsed() ? 'Expand sidebar' : 'Collapse sidebar'">
        <fa-icon [icon]="isCollapsed() ? faCaretRight : faCaretLeft"></fa-icon>
      </button>
    </div>

    <nav class="sidebar-nav">
      <ul class="menu-stack">
        <li *ngFor="let item of menuItems()" class="menu-line">
          <ng-container *ngIf="item.title === 'SEPARATOR'">
            <div class="menu-separator" [class.centered]="isCollapsed()">
              <span *ngIf="!isCollapsed()">Sectors</span>
            </div>
          </ng-container>

          <ng-container *ngIf="item.title !== 'SEPARATOR' && (!item.requiredRole || (item.requiredRole === 'ROLE_SUPERADMIN' && (isSuperAdmin$ | async)))">
            <div *ngIf="!item.children">
              <a
                [routerLink]="item.link"
                routerLinkActive="active"
                class="menu-link"
                [class.collapsed]="isCollapsed()"
              >
                <fa-icon [icon]="item.icon" class="menu-icon"></fa-icon>
                <span *ngIf="!isCollapsed()" class="menu-text">{{ item.title }}</span>
              </a>
            </div>

            <div *ngIf="item.children" class="relative">
              <button
                (click)="handleMenuClick(item, $event)"
                class="menu-link menu-trigger"
                [class.collapsed]="isCollapsed()"
              >
                <div class="menu-left" [class.center-only]="isCollapsed()">
                  <fa-icon [icon]="item.icon" class="menu-icon"></fa-icon>
                  <span *ngIf="!isCollapsed()" class="menu-text">{{ item.title }}</span>
                </div>
                <fa-icon *ngIf="!isCollapsed()" [icon]="item.isExpanded ? faCaretDown : faCaretRight" class="menu-caret"></fa-icon>
              </button>

              <ul
                *ngIf="!isCollapsed()"
                [@slideDownUp]="item.isExpanded ? 'open' : 'closed'"
                class="submenu"
              >
                <li *ngFor="let child of item.children">
                  <a
                    (click)="handleSubmenuClick(); $event.stopPropagation()"
                    [routerLink]="child.link"
                    routerLinkActive="active"
                    [title]="child.tooltip"
                    class="submenu-link"
                  >
                    <fa-icon [icon]="child.icon" class="submenu-icon"></fa-icon>
                    <span>{{ child.title }}</span>
                  </a>
                </li>
              </ul>

              <ul
                *ngIf="isCollapsed() && item.isExpanded"
                class="submenu-popup"
                [style.top.px]="currentMenuTopPosition"
                [style.left.px]="56"
              >
                <li *ngFor="let child of item.children">
                  <a
                    [routerLink]="child.link"
                    routerLinkActive="active"
                    [title]="child.tooltip"
                    class="submenu-link"
                  >
                    <fa-icon [icon]="child.icon" class="submenu-icon"></fa-icon>
                    <span>{{ child.title }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>
        </li>
      </ul>
    </nav>
  </aside>
</ng-container>
